{include file='common/search' /}
<div id="content">
     <div id="wall">
          <h2>{$info.name}</h2>
          <div class="detail-panel detail-width">
               <table class="detail-table detail-width">
                    <tbody>
                    <tr class="detail-header-bg">
                         <th>文件类型</th>
                         <th>创建时间</th>
                         <th>热度</th>
                         <th>文件大小</th>
                         <th>文件数量</th>
                    </tr>
                    <tr>
                         <td>{$info.category}</td>
                         <td>{$info['create_time']}</td>
                         <td>{$info.requests}</td>
                         <td>{:count_size($info.length)}</td>
                         <td>{:count($files)}</td>
                    </tr>
                    </tbody>
               </table>
               <div class="detail-panel detail-width">
                    <div class="panel-header">磁力链接 <input style="float:right; margin-right:16px;" id="copy1" type="button" data-clipboard-target="magnet" value="复制磁力链接" class="">&nbsp;</div>
                    <div class="panel-body">
                         <div id="magnet">
                              <img src="__web__/magnet.png" > <a href="magnet:?xt=urn:btih:{$info.info_hash}">magnet:?xt=urn:btih:{$info.info_hash}</a>
                         </div>
                    </div>
               </div>
               <div class="detail-panel detail-width">
                    <div class="panel-header">迅雷下载 <input style="float:right; margin-right:16px;" id="copy2" type="button" data-clipboard-target="xlurl" value="复制迅雷链接" class="">&nbsp;</div>
                    <div class="panel-body">
                         <div id="xlurl">
                              <img src="__web__/xunlei.png" ><a href="thunder://{:base64_encode('AAmagnet:?xt=urn:btih:'.$info['info_hash'].'ZZ')}">thunder://{:base64_encode('AAmagnet:?xt=urn:btih:'.$info['info_hash'].'ZZ')}</a>
                         </div>
                    </div>
               </div>

               <div class="detail-panel detail-width">
                    <div class="panel-header">种子标签</div>
                    <div class="panel-body">
                         {foreach $jieba_name as $item}
                         <a href="{:url('/main-search-kw-'.$item.'-1')}">{$item}</a>&nbsp;&nbsp;
                         {/foreach}
                    </div>
               </div>

               <div class="detail-panel detail-width">
                    <div class="panel-header">
                         文件列表
                    </div>
                    <div class="panel-body">
                         <ol>
                              {foreach $files as $item}
                              <li>{$item.path}&nbsp;<span class="cpill blue-pill">{:count_size($item['length'])}</span></li>
                              {/foreach}
                         </ol>
                    </div>
               </div>


               <div class="detail-panel detail-width">
                    <div class="panel-header">友情提示</div>
                    <div class="panel-body">
                         <p>{$info.name}</p>
                         <p>本站已经屏蔽了99%的非法链接，若本链接侵犯你的权利，请联系下面的邮箱进行举报！ </p>
                         <p>亲，你造吗？将网页分享给您的基友，下载的人越多速度越快哦！</p>
                    </div>
               </div>
               <div class="detail-panel detail-width">
                    <div class="panel-header">
                         投诉异议
                    </div>
                    <div class="panel-body">
                         <p>
                              版权投诉/Complain Email：<a class="__cf_email__"  >{$system_config.SITE_COMPLAIN_EMAIL}</a>
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>