<div class="header-div">
	<form class="search-form"  action="{:url('/search')}" method="POST">
		<a href="/" ><img src="{$system_config.SITE_LOGO_NAV}"  class="nav-logo"/></a>
		{:token()}
		<input id="search" name="search" placeholder="搜索电影,软件,图片,资料,番号...." type="text" value="{$keyword}">
		<input class="blue" id="btnSearch" name="submit" type="submit" value="搜索">
	</form>
</div>
<div id="sort-bar">
	<a href="{:url('/main-search-kw-'.$keyword.'-1')}">{if $type == ''}<b>相关度</b>{else}相关度{/if}</a>
	<a href="{:url('/main-search-kw-'.$keyword.'-length-1')}">{if $type == 'length'}<b>文件大小</b>{else}文件大小{/if}</a>
	<a href="{:url('/main-search-kw-'.$keyword.'-time-1')}">{if $type == 'time'}<b>创建时间</b>{else}创建时间{/if}</a>
	<a href="{:url('/main-search-kw-'.$keyword.'-requests-1')}">{if $type == 'requests'}<b>热度</b>{else}热度{/if}</a>
</div>
<div id="content">
	<div id="wall">
		<div class="search-statu">
			<span>共找到 {$result.total} 条关于 {$keyword} 的结果, 耗时 {$result.sec} 毫秒</span>
		</div>
		<div class="adsense" style="position:relative"></div>
		<div class="col-md-8">
			{foreach $result.list as $item}
			<div class="search-item detail-width">
				<div class="item-title">
					<h3><a title="{$item.name}" href="{{url_for('detail',info_hash=hash.info_hash)}}" target="_blank">{:str_replace($keyword, '<b>'.$keyword.'</b>', $item.name)}</a></h3>
				</div>
				<div class="item-list">
					<ul>
						{foreach $item['files'] as $_item}
						<li>{:str_replace($keyword, '<b>'.$keyword.'</b>', $_item['path'])}&nbsp;<span class="lightColor">{$_item.length}</span></li>
						{/foreach}
					</ul>
				</div>
				<div class="item-bar">
					<span class="cpill fileType1">{$item.category}</span>
					<span>创建时间：<b>{:date('Y-m-d', $item['create_time'])}</b></span>
					<span>文件大小：
{if $item['length'] > 1073741824}
<b class="cpill yellow-pill">{:round($item['length']/1073741824, 2)}G</b>
{else}<b class="cpill blue-pill">{:round($item['length']/1048576, 2)}M</b>
{/if}</span>
					<span>热度：<b>{$item.requests}</b></span>
					<span><img src="__web__/img/link.png"  /><a href="magnet:?xt=urn:btih:{:strtoupper($item['info_hash'])}" >磁力链接</a></span>
				</div>
			</div>
			{/foreach}
			{:htmlspecialchars_decode($pages->render())}
		</div>
		<div class="col-md-2">
			<div class="search-notice sidebar-width">{$system_config.SITE_LIST_RIGHT_TEST}</div>
			<div id="latest-search" class="sidebar-width">
				<span class="latest-desc">大家对这些感兴趣：</span>
				{foreach $tags as $item}
				<span><a href="{:url('/main-search-kw-'.$item['tag'].'-1')}">{$item.tag}</a></span>
				{/foreach}
			</div>
		</div>
	</div>
</div>