{include file='common/search' /}
<div id="sort-bar">
     <a href="{:url('/weekhot')}">周排行</a>
     <a href="{:url('/new')}">最新收录</a>
</div>
<div id="content">
     <div id="wall">
          <div class="search-statu">
               <span>TOP50:</span>
          </div>
          <div class="search-item">
               <ol>
                    {foreach $news_list as $item}
                    <li>
                         <div class="item-title">
                              <a href="{:url('/hash/'.$item['info_hash'])}" target="_blank">{$item.name}</a><span class="cpill blue-pill">{$item.requests}<span>
</span></span></div>
                    </li>
                    {/foreach}
               </ol>
          </div>
     </div>
</div>