{include file='common/search' /}
<div id="sort-bar">
     <a href="#"><b>标签</b></a>
</div>
<div id="content">
     <div id="wall">
          <div class="search-statu">
               <span>热门标签:</span>
          </div>
          <div class="search-item">
               <div id="tags" class="taglist_tag">
                    {foreach $tags as $item}
                    <span><a href="{:url('/main-search-kw-'.$item['tag'].'-1')}" target="_blank">{$item.tag}</a></span>
                    {/foreach}
               </div>
          </div>
     </div>
</div>