{include file='common/search' /}
<div id="sort-bar">
     <a href="#"><b>标签</b></a>
</div>
<div id="content">
     <div id="wall">
          <div class="search-statu">
               <span>热门标签:</span>
          </div>
          <div class="search-item">
               <div id="tags" class="taglist_tag">

                    {%for tag in tags%}
                    <span><a href="{{url_for('search_results',query=tag.tag,page=1)}}" title="{{tag.tag}}" target="_blank">{{tag.tag}}</a></span>
                    {%endfor%}

               </div>
          </div>
          <div class="push">
               <script type="text/javascript">
                   write_popup();
               </script>
          </div>



     </div>

</div>