{include file='common/search' /}
<div id="sort-bar">
     <a href="{{url_for('weekhot')}}">周排行</a>
     <a href="{{url_for('new')}}">最新收录</a>
</div>

<div id="content">

     <div id="wall">
          <div class="search-statu">
               <span>TOP50:</span>
          </div>
          <div class="search-item">
               <ol>
                    {% for hash in weekhot %}
                    <li>
                         <div class="item-title">
                              <a href="{{url_for('detail',info_hash=hash.info_hash)}}" target="_blank">{{hash.name}}</a><span class="cpill blue-pill">{{hash.requests}}<span>
</span></span></div>
                    </li>
                    {% endfor %}
               </ol>
          </div>
     </div>
</div>